.navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: rgb(255 255 255);
    text-decoration: none;
    white-space: nowrap;
}




body{
    background-color: lightyellow;
}

